<!DOCTYPE html>
<html>
<head>
  <title>Drapery</title>
  <%= stylesheet_link_tag    "drapery/application", :media => "all" %>
  <%= javascript_include_tag "drapery/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
