<!DOCTYPE html>
<html>
<head>
  <title>Drapery</title>
  <%= stylesheet_link_tag    "drapery/application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "drapery/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
