/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  padding: 0 auto;
  margin: 0 auto;
  height:100%;
}

.container {
  background: url(bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 100%;
}

.overlay {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
}

h3 {
  font-size: 7em;
}

.white {
  color: white;
}

.center {
  text-align: center;
}