/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  padding: 0 auto;
  margin:  0 auto;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url('bg.jpg') center center fixed;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  padding: 0 auto;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

.container {
  margin-top: 60px;
}

.center {
  text-align: center;
}

.white {
  color: white;
}

form.subscribe-form {
  margin-top: 20px;
}

form.subscribe-form input[type=text] {
  background: transparent;
  border-radius: 3px;
  border: 2px solid #e62d2d;
  color: white;
  font-size: 16px;
  height: 30px;
  width: 500px;
  display: inline-block;
  padding: 10px 20px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}

form.subscribe-form input[type=text]:focus {
  border-color: #d42a2a;
}

form.subscribe-form input[type=submit] {
  border-radius: 3px;
  border: 2px solid #e62d2d;
  color: white;
  font-size: 16px;
  height: 54px;
  width: 200px;
  display: inline-block;
  padding: 10px;
  outline: none;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  background-color: #e62d2d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}

form.subscribe-form input[type=submit]:hover {
  background-color: #d42a2a;
}

.subscribe-form-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
}

.flash-notice {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 16px;
  margin-top: 10px;
}

.flash-error {
  color: #d42a2a;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 16px;
  margin-top: 10px;
}
